:root{
 --clr-lightBlue: 178 60% 48%;
  --clr-lightBlueHover: 178 75% 65%;
  --clr-orange: 39 88% 58%;
  --clr-orangeHover: 39 100% 69%;
  --clr-darkNavy: 202 32% 15%;
  --clr-navy: 199 35% 19%;
  --clr-silver: 198 23% 72%;
  --clr-silverHover: 197 33% 89%;
}

*{
    box-sizing: border-box;
}

/*  <================= Tres en Raya Tablero y color de jugadores =========================> */
body{
    background-color: hsl(var(--clr-darkNavy));
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Julee', cursive;
}

/* .bre{
    margin-top: 2rem;
} */

#tablero{
    display: grid;
    grid-template-areas: 
    "1 2 3"
    "4 5 6"
    "7 8 9";
    gap: 15px;
    font-family: "Permanet Marker", cursive;
}


.box{
    height: 5rem;
    width: 5rem;
    font-size: 80%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color:hsl(var(--clr-navy)) ;
    box-shadow: inset 0px -8px 0px #10212a;
    font-size: 50px;
    cursor: pointer;
}

.box:hover{
    transition: 0.4s;
    /* box-shadow: 0 0 1em rgb(51, 8, 8); */
    transform: scale(0.9);
     transition-duration: 1000ms;
}

#Guest1{
    color: hsl(var(--clr-lightBlue));
}

#Guest2{
    color: hsl(var(--clr-orange));
}

/* <============= Tamaño Del Mensaje De Bienvenida ================================> */
 .welcom{
    font-size: 3rem;
    margin-top: 20px;
    text-align: center;
} 
/* <=============== Color y Efecto De Los Play y Help ========================> */
.buttom {
    color: white;
    padding: 3px 20px 3px 20px;
    border: 1px solid orange;
    background: rgb(0, 0, 0, 0.6);
    font-size: 1.5rem;
    border-radius: 15px;
    margin-top: 80px;
  }
  
  .buttom:hover {
    background-color: hsl(var(--clr-orangeHover));
    transform: scale(0.9);
    transition-duration: 1000ms;
  }

  .buttom2:hover{
    background-color: hsl(var(--clr-lightBlueHover));
  }


/* <=============== Colores y fuentes Para La Bienvenida =======================>  */

.box3{
    color: hsl(var(--clr-orange));
    
    }
    
    .game-1{
        font-family: 'Noto Serif', serif;
    }
    
    .game-2{
        color: hsl(var(--clr-lightBlue));
        
    }
    
    
    .game-3{
        color: hsl(var(--clr-silver));
        
     
    }
    
    .game-4{
        color: hsl(var(--clr-orange));
    }
    
    .game-5{
        color: hsl(var(--clr-lightBlue));
    }
 

  /*<================ Players select color y efectos ===============> */


  .card-border-gradient-blue {
    border-radius: 15px;
    background-color: hsl(var(--clr-lightBlue));
    
}

.card-border-gradient-blue1{
    border-radius: 15px;
    background-color: hsl(var(--clr-orange));
}

.bold-grad-text-blue {
    font-weight: 900;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(165deg, #0066ff 0%, #5d00ff 30%);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
}

.bold-grad-text-green {
    font-weight: 900;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(165deg, #f900ae 0%, #59ff00 30%);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
}




