*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg, #603bb7,#c28bd7);
    /* margin: 0; */
    padding: 0;
    /* height: 100%; */
}

.box0{
    height: 100vh;
}

.board-container{
    display: grid;
    grid-template-areas: 
    "1 2 3"
    "4 5 6"
    "7 8 9";
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.board-container div{
    height: 5rem;
    width: 5rem;
    font-size: 80%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 8px;
    
}

/* <============= Tamano Del Mensaje De Bienvenida ================================> */
 .welcom{
    font-size: 3rem;
    margin-top: 20px;
    text-align: center;
} 
/* <=============== Color y Efecto De Los Play y Help ========================> */
.buttom {
    color: white;
    padding: 3px 20px 3px 20px;
    border: 1px solid orange;
    background: rgb(0, 0, 0, 0.6);
    font-size: 1.5rem;
    border-radius: 25px;
    margin-top: 80px;
  }
  
  .buttom:hover {
     background-color: rgba(1, 1, 213, 0.686);
     transform: scale(0.9);
     transition-duration: 1000ms;
  }


/* <=============== Gradient Para La Bienvenida =======================>  */
  .game-1{
    background: linear-gradient(50deg, #3d0751,#5e4741b8);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-top: 80px;
  }

  /*<================ Players color y efectos ===============> */


  .card-border-gradient-blue {
    border-width: 0.1em;
    border-style: solid;
    border-image: linear-gradient(165deg, rgb(28, 214, 228) 0%, rgb(125, 0, 208) 100%) 1;
    border-radius: 0%;
}



.bold-grad-text-blue {
    font-weight: 900;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(165deg, #0066ff 0%, #5d00ff 30%);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
}

.bold-grad-text-green {
    font-weight: 900;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(165deg, #f900ae 0%, #59ff00 30%);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
}